// These are styles which are both common in layout w/ vertical nav & horizontal nav
@use "@layouts/styles/rtl";
@use "@layouts/styles/placeholders";
@use "@layouts/styles/mixins";
@use "@configured-variables" as variables;

html,
body {
  min-block-size: 100%;
}

.layout-page-content {
  flex-grow: 1;

  // TODO: Use grid gutter variable here
  padding-block-start: 1.5rem;
  padding-block-end: 0.5rem;
}

.page-content-container {
  @include mixins.boxed-content(true);
}

// Debug: Explicitly define boxed mode styles to ensure they apply
.layout-content-width-boxed {
  .page-content-container {
    max-inline-size: variables.$layout-boxed-content-width;
    margin-inline: auto;
  }

  .navbar-content-container {
    max-inline-size: variables.$layout-boxed-content-width;
    margin-inline: auto;
  }

  .footer-content-container {
    max-inline-size: variables.$layout-boxed-content-width;
    margin-inline: auto;
  }
}

.layout-footer {
  padding-block-end: 0.5rem;

  .footer-content-container {
    block-size: variables.$layout-vertical-nav-footer-height;
  }

  .layout-footer-sticky & {
    position: sticky;
    inset-block-end: 0;
    will-change: transform;
  }

  .layout-footer-hidden & {
    display: none;
  }
}
